<p>Class:  USC Viterbi Data Analytics Bootcamp</p>
<p>Team:  Analyticus (aka Team 5)</p>
<p>Module:  merge_plot_national_data.py<p>
<p>Input 1:  CDC Influenza-Like-Illness Json File</p>
<p>Input 2:  HHS Vaccinations Json File</p>
<p>Output:  plot_national.json</p>

In [1]:
# Import dependances.
import json
import pandas as pd

In [2]:
# Load pandas.Dataframe from cdc_national.json
df_cdc = pd.read_json('data/cdc_national_10_years.json')

In [4]:
df_cdc = df_cdc.sort_values(by=['YEAR', 'WEEK'])

In [7]:
df_cdc = df_cdc.rename(columns={"FLU_PERCENT":"flu_percent", "ILITOTAL":"flu_cases", "WEEK":"week", "YEAR":"year"})

In [8]:
df_cdc.head()

   flu_percent  flu_cases  week  year
0     0.880203       5687     1  2008
1     0.922302       5959     2  2008
2     0.912551       5896     3  2008
3     1.003713       6485     4  2008
4     1.081410       6987     5  2008

In [15]:
# Load hhs dictionary from hhs_national.json
df_hhs = pd.read_json('data/hhs_national_10_years.json')

In [16]:
df_hhs = df_hhs.sort_values(by=['year', 'week'])

In [17]:
# Merge the hhs and cdc dataframes.
df = pd.merge(df_cdc, df_hhs, how='outer', on=['year', 'week'])
df = df.sort_values(by=['year', 'week'])
df.fillna(0, inplace=True)

In [19]:
df.head()

   flu_percent  flu_cases  week  year  vac_pct_week  vac_percent  vaccinations
0     0.880203       5687     1  2008           0.0          0.0           0.0
1     0.922302       5959     2  2008           0.0          0.0           0.0
2     0.912551       5896     3  2008           0.0          0.0           0.0
3     1.003713       6485     4  2008           0.0          0.0           0.0
4     1.081410       6987     5  2008           0.0          0.0           0.0

In [20]:
# Write the merged data to a json file.
df.to_json('data/plot_national_10_years.json')

In [21]:
# Sample code for accessing the merged data.
df_plot = pd.read_json('data/plot_national_10_years.json')

In [22]:
# Sample codee for accessing the merged data
df_plot = df_plot.sort_values(['year', 'week'])
df_plot

,flu_cases,flu_percent,vac_pct_week,vac_percent,vaccinations,week,year
0,5687,0.880203,0.000000,0.000000,0,1,2008
1,5959,0.922302,0.000000,0.000000,0,2,2008
2,5896,0.912551,0.000000,0.000000,0,3,2008
3,6485,1.003713,0.000000,0.000000,0,4,2008
4,6987,1.081410,0.000000,0.000000,0,5,2008
5,7297,1.129390,0.000000,0.000000,0,6,2008
6,7667,1.186657,0.000000,0.000000,0,7,2008
7,7733,1.196872,0.000000,0.000000,0,8,2008
8,7634,1.181549,0.000000,0.000000,0,9,2008
9,8708,1.347777,0.000000,0.000000,0,10,2008
10,8689,1.344836,0.000000,0.000000,0,11,2008
11,7812,1.209099,0.000000,0.000000,0,12,2008
12,8706,1.347467,0.000000,0.000000,0,13,2008
13,8603,1.331526,0.000000,0.000000,0,14,2008
14,8956,1.386161,0.000000,0.000000,0,14,2008
15,9289,1.437701,0.000000,0.000000,0,15,2008
16,11456,1.773097,0.000000,0.000000,0,16,2008
17,14324,2.216991,0.000000,0.000000,0,17,2008
18,18268,2.827422,0.000000,0.000000,0,18,2008
19,21667,3.353500,0.000000,0.000000,0,19,2008
20,20022,3.098896,0.000000,0.000000,0,20,2008
21,20450,3.165140,0.000000,0.000000,0,21,2008
22,18441,2.854198,0.000000,0.000000,0,22,2008
23,15711,2.431663,0.000000,0.000000,0,23,2008
24,13277,2.054942,0.000000,0.000000,0,24,2008
25,11400,1.764430,0.000000,0.000000,0,25,2008
26,9669,1.496515,0.000000,0.000000,0,26,2008
27,8460,1.309393,0.000000,0.000000,0,27,2008
28,7222,1.117782,0.000000,0.000000,0,28,2008
29,7348,1.137283,0.000000,0.000000,0,29,2008
...,...,...,...,...,...,...,...
465,7133,0.866989,0.000200,48.689900,29624654,48,2016
466,7073,0.859697,0.000200,48.690100,29624654,49,2016
467,8317,1.010900,0.000200,48.690300,29624654,50,2016
468,8566,1.041165,0.000000,48.690300,29624654,51,2016
469,9079,1.103519,0.000000,48.690300,29624654,52,2016
470,13021,1.364682,0.169688,0.169688,31422333,1,2017
471,13292,1.393084,0.337779,0.507467,31422333,2,2017
472,14357,1.504703,0.540393,1.047860,31422333,3,2017
473,15845,1.660654,0.960920,2.008780,31422333,4,2017
474,17081,1.790195,1.629500,3.638280,31422333,5,2017
475,18973,1.988488,2.825200,6.463480,31422333,6,2017
476,21785,2.283203,3.673520,10.137000,31422333,7,2017
477,19716,2.066359,4.520600,14.657600,31422333,8,2017
478,23756,2.489776,5.676400,20.334000,31422333,9,2017
479,24812,2.600452,5.268000,25.602000,31422333,10,2017
480,31454,3.296574,4.784500,30.386500,31422333,11,2017
481,42536,4.458037,3.883400,34.269900,31422333,12,2017
482,44965,4.712611,2.946000,37.215900,31422333,13,2017
483,47199,4.946748,2.365400,39.581300,31422333,14,2017
484,56639,5.936119,1.880700,41.462000,31422333,15,2017
485,62929,6.595350,0.867500,42.329500,31422333,16,2017
486,77019,8.072069,1.121300,43.450800,31422333,17,2017
487,85128,8.921942,0.933700,44.384500,31422333,18,2017
488,87008,9.118978,0.736400,45.120900,31422333,19,2017
489,75349,7.897043,0.488300,45.609200,31422333,20,2017
490,52348,5.486395,0.209500,45.818700,31422333,21,2017
491,35079,3.676497,0.100900,45.919600,31422333,22,2017
492,28221,2.957736,0.065100,45.984700,31422333,23,2017
493,24251,2.541655,0.002600,45.987300,31422333,24,2017
494,21379,2.240652,0.000000,45.987300,31422333,25,2017