In [1]:
# Dependencies
import requests
import json
import numpy as np
import pandas as pd

In [2]:
# Build a dictionary of HHS national data.    
url = "https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/2017/national.json?ethnicity=T&medicare_status=A"
    
national_dict = requests.get(url).json()

In [3]:
df = pd.DataFrame(national_dict)

In [4]:
df = df[['count', 'percentage', 'week']]

In [5]:
df = df.rename(columns={"count":"vaccinations", "percentage":"vac_percent"})

In [8]:
df2 = df

In [9]:
df2.head()

   vaccinations  vac_percent  week
0      31422333     0.001697     1
1      31422333     0.005075     2
2      31422333     0.010479     3
3      31422333     0.020088     4
4      31422333     0.036383     5

In [10]:
df2.vac_percent = df2.vac_percent * 100

In [11]:
df2.head()

   vaccinations  vac_percent  week
0      31422333     0.169688     1
1      31422333     0.507467     2
2      31422333     1.047860     3
3      31422333     2.008780     4
4      31422333     3.638280     5

In [12]:
df2['vac_pct_week'] = 0.0

In [13]:
df2.head()

   vaccinations  vac_percent  week  vac_pct_week
0      31422333     0.169688     1           0.0
1      31422333     0.507467     2           0.0
2      31422333     1.047860     3           0.0
3      31422333     2.008780     4           0.0
4      31422333     3.638280     5           0.0

In [15]:
df2.index

RangeIndex(start=0, stop=25, step=1)

In [21]:
df2

    vaccinations  vac_percent  week  vac_pct_week
0       31422333     0.169688     1      0.169688
1       31422333     0.507467     2      0.000000
2       31422333     1.047860     3      0.000000
3       31422333     2.008780     4      0.000000
4       31422333     3.638280     5      0.000000
5       31422333     6.463480     6      0.000000
6       31422333    10.137000     7      0.000000
7       31422333    14.657600     8      0.000000
8       31422333    20.334000     9      0.000000
9       31422333    25.602000    10      0.000000
10      31422333    30.386500    11      0.000000
11      31422333    34.269900    12      0.000000
12      31422333    37.215900    13      0.000000
13      31422333    39.581300    14      0.000000
14      31422333    41.462000    15      0.000000
15      31422333    42.329500    16      0.000000
16      31422333    43.450800    17      0.000000
17      31422333    44.384500    18      0.000000
18      31422333    45.120900    19      0.000000
19      31422333    45.609200    20      0.000000
20      31422333    45.818700    21      0.000000
21      31422333    45.919600    22      0.000000
22      31422333    45.984700    23      0.000000
23      31422333    45.987300    24      0.000000
24      31422333    45.987300    25      0.000000

In [31]:
for index_entry in df2.index:
    print(index_entry, type(index_entry))

0 <class 'numpy.int64'>
1 <class 'numpy.int64'>
2 <class 'numpy.int64'>
3 <class 'numpy.int64'>
4 <class 'numpy.int64'>
5 <class 'numpy.int64'>
6 <class 'numpy.int64'>
7 <class 'numpy.int64'>
8 <class 'numpy.int64'>
9 <class 'numpy.int64'>
10 <class 'numpy.int64'>
11 <class 'numpy.int64'>
12 <class 'numpy.int64'>
13 <class 'numpy.int64'>
14 <class 'numpy.int64'>
15 <class 'numpy.int64'>
16 <class 'numpy.int64'>
17 <class 'numpy.int64'>
18 <class 'numpy.int64'>
19 <class 'numpy.int64'>
20 <class 'numpy.int64'>
21 <class 'numpy.int64'>
22 <class 'numpy.int64'>
23 <class 'numpy.int64'>
24 <class 'numpy.int64'>

In [35]:
for index_entry in df2.index:
    if index_entry == 0:
        df2.loc[index_entry, 'vac_pct_week'] = df2.loc[index_entry, 'vac_percent']
        continue
    i = index_entry - 1
    df2.loc[index_entry, 'vac_pct_week'] = df2.loc[index_entry, 'vac_percent'] - df2.loc[i, 'vac_percent']

0.337779
0.540393
0.96092
1.6295
2.8252
3.67352
4.5206
5.6764
5.268
4.7845
3.8834
2.946
2.3654
1.8807
0.8675
1.1213
0.9337
0.7364
0.4883
0.2095
0.1009
0.0651
0.00259999999999
0.0

In [36]:
df2.head()

   vaccinations  vac_percent  week  vac_pct_week
0      31422333     0.169688     1      0.169688
1      31422333     0.507467     2      0.337779
2      31422333     1.047860     3      0.540393
3      31422333     2.008780     4      0.960920
4      31422333     3.638280     5      1.629500

In [37]:
df2.to_json('data/hhs_national.json')

In [38]:
# Sample code to access the json file.
with open('data/hhs_national.json') as hhs_national_file:
    hhs_national_dict = json.load(hhs_national_file)

In [40]:
# Sample code for accessing the merged data
df_hhs = pd.DataFrame(hhs_national_dict)
df_hhs = df_hhs.sort_values(['week'])
df_hhs.head()

   vac_pct_week  vac_percent  vaccinations  week
0      0.169688     0.169688      31422333     1
1      0.337779     0.507467      31422333     2
2      0.540393     1.047860      31422333     3
3      0.960920     2.008780      31422333     4
4      1.629500     3.638280      31422333     5