<p>Class:  USC Viterbi Data Analytics Bootcamp</p>
<p>Team:  Analyticus (aka Team 5)</p>
<p>Module:  pull_flu_national_data.py<p>
<p>Version:  March 31, 2018
<p>Input:  CDC Influenza-Like-Illness CSV File:  cdc_national.csv</p>
<p>Output:  cdc_national.json</p>

In [1]:
# Import dependances.
import json
import csv
import pandas as pd

In [3]:
# Load a dataframe with national CDC data.
df = pd.read_csv('../data/cdc_national.csv')

In [4]:
# Inspect the dataframe with the CDC national data.
df.head()

   Year  Week  Cases   Percent
0  2017    40  13021  1.401146
1  2017    41  13291  1.430199
2  2017    42  14357  1.544908
3  2017    43  15845  1.705027
4  2017    44  17081  1.838028

In [5]:
# Write the CDC data to a json file.
df.to_json('../data/cdc_national.json')

In [8]:
# Validate the json by loading it into a dataframe for inspection.
df2 = pd.read_json('../data/cdc_national.json')

In [9]:
# Validate the CDC data.
df2.head()

    Cases   Percent  Week  Year
0   13021  1.401146    40  2017
1   13291  1.430199    41  2017
10  31453  3.384551    50  2017
11  42535  4.577047    51  2017
12  44965  4.838531    52  2017

In [10]:
# Validate the CDC data.
df2.tail()

   Cases   Percent  Week  Year
5  18972  2.041513    45  2017
6  21784  2.344102    46  2017
7  19715  2.121464    47  2017
8  23692  2.549416    48  2017
9  24812  2.669935    49  2017