<p>Class:  USC Viterbi Data Analytics Bootcamp</p>
<p>Team:  Analyticus (aka Team 5)</p>
<p>Module:  pull_flu_state_data.py<p>
<p>Version:  March 31, 2018
<p>Input:  CDC Influenza-Like-Illness CSV File at the state level.</p>
<p>Output:  CDC Influenza-Like_illness Json File at the state level.</p>
<p>Description:</p>

In [1]:
# Import dependances.
import json
import csv
import pandas as pd

In [2]:
# Load the CDC state-level data into a dataframe.
df = pd.read_csv('../data/cdc_state.csv')

In [3]:
# Inspect the CDC dataframe
df.head()

        State  Year  Week  Cases   Percent
0     Alabama  2017    40    698  0.084642
1      Alaska  2017    40    326  0.039532
2     Arizona  2017    40    406  0.049233
3    Arkansas  2017    40     37  0.004487
4  California  2017    40    842  0.102104

In [4]:
# Write the CDC state-level data to a json file.
df.to_json('../data/cdc_state.json')

In [5]:
# Validate the output file by loading it into a dataframe.
df2 = pd.read_json('../data/cdc_state.json')

In [7]:
# Sort the CDC state-level data by state and week to aid analysis.
df2 = df2.sort_values(by=['State', 'Week'])

In [8]:
# Validate CDC state-level data.
df2.head()

     Cases   Percent    State  Week  Year
650   3738  0.453283  Alabama     1  2018
700   4829  0.585582  Alabama     2  2018
750   5145  0.623901  Alabama     3  2018
800   5136  0.622810  Alabama     4  2018
850   5278  0.640029  Alabama     5  2018

In [9]:
# Validate CDC state-level data.
df2.tail()

     Cases   Percent    State  Week  Year
449     68  0.008246  Wyoming    48  2017
499     85  0.010307  Wyoming    49  2017
549     94  0.011399  Wyoming    50  2017
599    117  0.014188  Wyoming    51  2017
649    167  0.020251  Wyoming    52  2017